@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dangrek&family=Poppins:wght@400;600&family=Space+Grotesk:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}
body{
    width: 100%;
    height: auto;
    background-color:rgb(16,22,34);
    place-items: center;
    padding-bottom: 50px;
}

.navbar{
    width: 100%;
    height: 8vh;
    border-bottom: 2px solid rgb(94, 94, 94);
    padding-left: 5%;
    padding-right: 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    & .title{
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
        display: flex;
        align-items: center;
        gap: 10px;

        & span{
            display: inline;
            background: linear-gradient(
                90deg,
                #2f6bff 0%,
                #6a5cff 40%,
                #b04cff 70%,
                #ff5cc8 100%
            );

            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    & .option{
        display: flex;
        gap: 50px;
        & a{
            font-size: 1.2rem;
            text-decoration: none;
            color: white;
        }
    }

    & .register{
        display: flex;
        gap: 0px;
        & button{
            padding: 10px 15px;
            width: 115px;
            border-radius: 20px;
            border: none;
            cursor: pointer;
        }
        & button:nth-child(1){
            background-color: rgb(16,22,34);
            color: white;
        }
        & button:nth-child(2){
            margin-left: -10px;
            color: white;
            background: linear-gradient(
                90deg,
                #2f6bff 0%,
                #6a5cff 40%,
                #b04cff 70%,
                #ff5cc8 100%
            );
        }
    }
}

.section{
    width: 80%;
    height: 70vh;
    margin-top: 3%;
    background-image: url(img/img1.gif);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: relative;
    padding: 30px;

    & .title{
        font-size: 4.5rem;
        font-weight: 800;
        color: white;
        position: relative;
        z-index: 2;
    }

    & .title:nth-child(3){
        
        margin-bottom: 40px;
        line-height: 60px;
        display: inline;
        background: linear-gradient(
            90deg,
            #2f6bff 0%,
            #6a5cff 40%,
            #b04cff 70%,
            #ff5cc8 100%
        );

        background-clip: text;
        -webkit-text-fill-color: transparent;

        font-weight: 800;
    }
    & .txt{
        margin-top: 30px;
        width: 50%;
        text-align: left;
        font-size: 18px;
        line-height: 35px;
        color: lightgray;
        position: relative;
        z-index: 2;
    }

    & .featured {
        
        margin-bottom: 30px;
        width: 50%;
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        z-index: 2;

        padding: 10px 22px;
        border-radius: 999px;

        font-size: 0.75rem;
        letter-spacing: 2px;
        text-transform: uppercase;

        color: rgba(30, 143, 255, 0.671);
        font-weight: 600;

        background: linear-gradient(
            90deg,
            rgba(30, 89, 238, 0.1),
            rgba(47, 107, 255, 0.05)
        );

        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);

        border: 1px solid rgba(111, 182, 255, 0.35);
        box-shadow:
            0 0 20px rgba(47, 107, 255, 0.35),
            inset 0 0 20px rgba(47, 107, 255, 0.15);

        & .dot {
            width: 8px;
            height: 8px;
            border-radius: 50%;

            background: #3b82ff;
            box-shadow:
                0 0 8px rgba(59, 130, 255, 0.9),
                0 0 16px rgba(59, 130, 255, 0.6);
        }

    }

    & .btn{
        margin-top: 40px;
        position: relative;
        z-index: 2;
        display: flex;
        gap: 10px;
        & button{
            padding: 10px 20px;
            width: 150px;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            font-size: 14px;
            color: white;
            
        }
        & button:nth-child(1){
            background-color: #2f6bff;
        }
        & button:nth-child(2){
            background: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border: 1px solid rgba(255, 255, 255, 0.3);
            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
        }
    }
    transition: 0.5s all;

}
.section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    z-index: 1;
}
.section:hover{
    transition: 0.5s all;
    transform: scale(1.02);
}

.line{
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 90%;
    height: auto;
    display: flex;
    align-items: left;
    & h3{
        color: white;
    }
    & i{
        place-content: center;
        width: 50px;
        color:  #2f6bff;
    }
}
.contain{
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
    & .box{
        border-radius: 10px;
        width: 100%;
        height: 135px;
        background: rgba(23, 31, 48, 0.15);
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        transition: 0.5s all;

        & .content{
            width: auto;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & .top{
                width: 55px;
                height: 55px;
                padding: 15px;
                border-radius: 50%;
                background-color:rgb(26, 33, 48);
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 10px;

                & i{
                    font-size: 1.8rem;
                }

            }

            & .bottom{
                color: white;
                font-weight: 500;
                font-size: 0.8rem;
            }
        }
    }
    & .box:nth-child(1) .content .top i{
        color: #2f6bff;
    }
    & .box:nth-child(2) .content .top i{
        color: #ff5cc8;
    }
    & .box:nth-child(3) .content .top i{
        color: #5584fa;
    }
    & .box:nth-child(4) .content .top i{
        color: rgb(241, 63, 63);
    }
    & .box:nth-child(5) .content .top i{
        color: rgb(75, 235, 75);
    }
    & .box:nth-child(6) .content .top i{
        color: yellow;
    }

    & .box:hover{
        transition: 0.5s all;
        transform: scale(1.05);
    }
}
.lineTwo{
    margin-top: 10vh;
    margin-bottom: 5vh;
    width: 90%;
    height: auto;
    display: flex;
    align-items: left;
    gap: 20px;

    & h3{
        color: white;
    }

    & .time{
        height: 100%;
        width: auto;
        background-color: #b04cff;
        border-radius: 5px;

        & p{
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}